<div class="container-fluid">
  <div class="row m8">

    <div class="col-6">
      <mat-card class="mt16">
        <mat-card-title>
          Budget overview
        </mat-card-title>

        <hr>
        <div style="display: block;">
          <canvas baseChart [data]="daugnatChartConfig.doughnutChartData"
            [labels]="daugnatChartConfig.doughnutChartLabels" [chartType]="daugnatChartConfig.doughnutChartType"
            [colors]="daugnatChartConfig.doughnutChartColors" [options]="pieChartOptions">
          </canvas>
        </div>

        <div style="text-align: center">

          <small>
            Total Budget: {{this.totalBudget.amount}}

          </small>
          <small>
            Total Expense: {{this.totalExpense}}

          </small>

        </div>

      </mat-card>

    </div>
    <div class="col-6">
      <mat-card class="mt16 ">
        <mat-card-title>
          Category wise
        </mat-card-title>
        <hr>
        <div style="display: block;">
          <canvas baseChart [data]="chartConfig.pieChartData" [labels]="chartConfig.pieChartLabels"
            [chartType]="chartConfig.pieChartType" [options]="pieChartOptions" [plugins]="chartConfig.pieChartPlugins"
            [colors]="chartConfig.pieChartColors">
          </canvas>
        </div>

        <div>

          <small>
            <p></p>
          </small>


        </div>
      </mat-card>
    </div>

  </div>
  <div class="row mt32">
    <div class="col">
      <button mat-raised-button color="primary" (click)="openAddExpenseModal()">Add expense</button>
    </div>
  </div>

  <div class="row mt16">
    <div class="col-12">
      <ngx-datatable style="width: 100%" class="material" [columnMode]="'force'" [rows]="expenses" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="50" [limit]="5">
        <ngx-datatable-column name="Edit">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i (click)="editExpense(row)" class="fas fa-pencil-alt"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Deleted">
      
            <ng-template let-row="row"    ngx-datatable-cell-template>
            {{row.deleted? 'true':'false'}}
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="category">
      
          <ng-template let-row="row" [ngClass]="{red: row?.deleted , white: !row?.deleted}"    ngx-datatable-cell-template>
            {{row.category.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Item Name">
      
          <ng-template let-row="row"    ngx-datatable-cell-template>
            {{row.itemName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Amount">

          <ng-template let-row="row"    ngx-datatable-cell-template>
            {{row.amount}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date">
          
          <ng-template let-row="row"     ngx-datatable-cell-template>
            {{row.date|date}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Edit">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i (click)="openDeleteExpenseModal(row)" class="far fa-trash-alt"></i>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>





  <!-- <div class="row mt32">
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Item name</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="t-row " *ngFor="let exp of expenses">
            <th scope="row">
              <i (click)="editExpense(exp)" class="fas fa-pencil-alt"></i>
            </th>
            <td>{{exp.category.name}}</td>
            <td>{{exp.itemName}}</td>

            <td>{{exp.amount}}</td>
            <td>{{exp.date |date}}</td>
          </tr>
          <br>


        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt16">
    <div class="col">
      <div *ngFor="let d of totalList ">
        {{d}}
      </div>
    </div>
  </div> -->




</div>